/* frontend/src/responsive.css */
.desktop-nav-links {
    display: flex;
    align-items: center;
}

.mobile-nav-icon {
    display: none;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .desktop-nav-links {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    }

    .cart-icon {
        font-size: 20px !important; /* This will make the icon smaller on mobile */
    }
}
